[package]
name = "parse-display"
version = "0.8.1"
authors = ["frozenlib"]
license = "MIT OR Apache-2.0"
readme = "../README.md"
repository = "https://github.com/frozenlib/parse-display"
documentation = "https://docs.rs/parse-display/"
keywords = ["derive", "enum", "from_str", "display", "regex"]
categories = ["parsing"]
description = "Procedural macro to implement Display and FromStr using common settings."
edition = "2021"

[dependencies]
parse-display-derive = { version = "=0.8.1", path = "../parse-display-derive" }
once_cell = { version = "1.17.1", optional = true }
regex = { version = "1.9.1", optional = true }

[features]
default = ["std"]
std = ["regex", "once_cell"]
